.authenticate {
    width: 400px;
    max-width: 400px;
    margin: 1.6rem;
    padding: 3.2rem;
    box-shadow: 0 0 40px rgba($color: #000000, $alpha: 0.2);
    border-radius: $border_radius;
    background: #ffffff;
}

.authenticate,
.form__input,
.form__button {
    font: 500 1.6rem 'Raleway', sans-serif;
    cursor: pointer;
}

.form__hidden {
    display: none;
}

.form> * :first-child {
    margin-top: 0;
}
.form> * :last-child {
    margin-bottom: 0;
}
.form__title {
    font-family: 'Great Vibes', cursive;
    margin-bottom: 3.2rem;
    text-align: center;
    font-size: 5rem;
}

.form__message {
    text-align: center;
    margin-bottom: 1.6rem;
}

.form__message-success {
    color: $color_success;
}

.form__message-error {
    color: $color_error;
}

.form__input {
    display: block;
    width: 100%;
    padding: 1.2rem;
    box-sizing: border-box;
    border-radius: $border_radius;
    border: 0.1rem solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: $color_primary;
}

.form__input-error {
    color: $color_error;
    border-color: $color_error;
}
.form__input-error-message {
    margin-top: 0.8rem;
    font-size: 1.36rem;
    color: $color_error;
}

.form__button {
    width: 100%;
    padding: 1.6rem 3.2rem;
    font-weight: bold;
    font-size: 1.76rem;
    color: #ffffff;
    border: none;
    border-radius: $border_radius;
    outline: none;
    cursor: pointer;
    background-color: $color_primary;
}

.form__button:hover {
    background: $color_primary_dark;
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: $color_secondary;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

