html {
    font-size: 62.5%;//set default font size to 10px
    background-image: linear-gradient(130deg, #FFFFFF, #5c8a87);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
    min-width: 600px;
}

body {
    margin: 0;
    height: 100vh;
    @include flex(center, center);
}

ul {
    padding-left: 0px;
    list-style: none;
}

li {
    @include flex(center, center);
    border-bottom: 0.1rem solid lightgray;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: #595959;
}

i {
    pointer-events: none;
}
