html {
    font-size: 62.5%;//set default font size to 10px
}

body {
    margin: 0;
    height: 100vh;
    @include flex(center, center);
}

ul {
    padding-left: 0px;
    list-style: none;
}

li {
    @include flex(center, center);
    border-bottom: 0.1rem solid lightgray;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    color: #595959;
}

i {
    pointer-events: none;
}
